/*:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*/

.body {
    padding-top: 80px; /* Ajuste conforme necessário */
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: black;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #ffee00;
    color: rgb(0, 0, 0);
    /*z-index: 10; /* Certifique-se de que o cabeçalho esteja acima de outros elementos */
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: rgb(255, 217, 0);
    color: rgb(0, 0, 0);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.column {
    background-color: thistle;
    margin: 0 auto;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.container {
    max-height: 100vh;
    overflow-y: scroll;
    border: 1px solid gray;
    scroll-snap-type: mandatory;
    /*scroll-snap-points-y: repeat(3rem);*/
    scroll-snap-type: y mandatory;
}

li {
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}



label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}



input[type="number"] {
    text-align: center;
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 100px;
    box-sizing: border-box;
}

button {
    width: 20%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul.scroller {
    list-style: none;
    padding: 0;
}

ul.scroller a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s;
}

ul.scroller a:hover {
    background-color: #f9f9f9;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}